@import "../base/variables.scss";
.home {
  // .home__hero

  &__hero {
  }
}
.hero-home {
  background: url("/img/background-hero.png") center/cover no-repeat;
  color: $whiteColor;
  // .hero-home__container

  &__container {
  }

  // .hero-home__wrapper

  &__wrapper {
    padding-top: 190px;
    padding-bottom: 210px;
    max-width: 50%;
  }

  // .hero-home__top

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }

  // .hero-home__text

  &__text {
    font-size: 16px;
    line-height: 162%;
  }

  // .hero-home__title

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 123%;
  }

  // .hero-home__bottom

  &__bottom {
    padding-top: 45px;
  }

  // .hero-home__link

  &__link {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 700;
    color: $yellowColor;
  }
}
.home {
  // .home__partners

  // &__partners {
  // }
}
.partners-home {
  // .partners-home__container

  display: flex;
  justify-content: flex-end;

  &__container {
    position: relative;
    right: 0;
    top: -100px;
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
    background-color: $whiteColor;
  }

  // .partners-home__list

  &__list {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 60px 170px 60px 65px;
    // width: 90%;
  }

  // .partners-home__item

  &__item {
  }

  // .partners-home__img

  &__img {
    object-fit: contain;
  }
}

.about-home {
  // .about-home__container

  &__container {
  }

  // .about-home__wrapper

  &__wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  // .about-home__content

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    gap: 40px;
    align-items: flex-start;
    max-width: 475px;
  }

  // .about-home__top

  &__top {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
  }

  // .about-home__text

  &__text {
    color: rgba(77, 83, 60, 0.9);
  }

  // .about-home__title

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 128%;
    color: #4d533c;
  }

  &__description {
    color: rgba(33, 56, 66, 0.6);
    font-size: 16px;
    line-height: 162%;
  }

  // .about-home__bottom

  &__bottom {
  }

  // .about-home__link

  &__link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #d4d6d4;
  }

  // .about-home__review

  &__review {
  }

  // .about-home__underline

  &__underline {
    margin-top: 150px;
    width: 100%;
    height: 1px;
    background-color: rgba(33, 56, 66, 0.1);
  }
}

.review-home {
  // .review-home__text
  padding: 250px 40px 60px 40px;
  max-width: 475px;
  box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  &__text {
    font-style: italic;
    font-size: 24px;
    line-height: 167%;
    color: #4d533c;
    margin-bottom: 50px;
  }

  // .review-home__people

  &__people {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  // .review-home__img

  &__img {
    box-shadow: 20px 25px 43px 0 rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    overflow: hidden;
    max-width: 90px;
    max-height: 90px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .review-home__content

  &__content {
  }

  // .review-home__name

  &__name {
    font-weight: 700;
    font-size: 22px;
    color: #4d533c;
    margin-bottom: 6px;
  }

  // .review-home__post

  &__post {
    font-size: 16px;
    color: #152934;
  }
}

.evaluation-home {
  padding-top: 150px;
  padding-bottom: 150px;
  // .evaluation-home__container

  &__container {
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: flex-start;
  }

  // .evaluation-home__title

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: #4d533c;
    max-width: 50%;
  }

  // .evaluation-home__list

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  // .evaluation-home__item

  &__item {
    flex: 1 1 calc((100% - 3 * 30px) / 4);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }

  //.evaluation-home__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .evaluation-home__subtitle

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 142%;
    text-transform: uppercase;
    color: #4d533c;
  }

  // .evaluation-home__text

  &__text {
    line-height: 186%;
    color: rgba(33, 56, 66, 0.6);
  }

  // .evaluation-home__link

  &__link {
    font-size: 16px;
    text-decoration: underline;
    color: #d4d6d4;
    transition: color 0.3s ease 0s;
    &:hover {
      color: #ffd723;
    }
  }
}
